* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 114px;
    padding-bottom: 13px;
}

.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 114px;
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


/* box2 */

.add-first {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 12px;
}

.add-second {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}


/* box3 */

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 900px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    font-size: 1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2.5px solid orange;
}

.nav-lang {
    height: 45px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang {
    font-size: 0.9rem;
}

.nav-flag {
    height: 16px;
    width: 21px;
    background-image: url("flag-of-the-united-states.png");
    background-size: cover;
    margin-right: 5px;
}

.nav-dropdown {
    margin-left: 5px;
}


/*box4*/

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}


/* box6 */

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}


/* panel */

.panel {
    height: 39px;
    width: 100%;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    margin-left: 10px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 82%;
    font-size: 0.85rem;
    font-weight: 600;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}


/* hero section */

.hero-section {
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-text {
    height: 40px;
    width: 1450px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1rem;
    padding-top: 5px;
    margin-right: 5px;
}

.hero-text a {
    padding-top: 5px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    color: #222f3d;
}


/* shop section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box {
    height: 400px;
    width: 22%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 20px;
}

.box-img {
    background-size: cover;
    height: 320px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 20px;
    margin-right: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #222f3d
}

.footer-bar {
    background-color: #222f3d;
    margin-top: 20px;
    width: 100%;
    height: 500px;
}

.footer-top {
    background-color: #35495e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 49px;
}

.footer-top:hover {
    opacity: 0.5;
}

.footer-panel2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
}

.footer-panel2 p {
    font-size: 0.9rem;
}

.footer-panel2-first {
    height: 291px;
    width: 200px;
    color: white;
    font-size: 0.85rem;
    line-height: 25px;
}

.footer-panel2-first a {
    text-decoration: none;
    color: white;
}

.footer-panel2-first a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 68px;
    width: 130px;
    margin-right: 100px;
}

.footer-box {
    height: 33px;
    width: 145px;
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 0.9rem;
    margin-right: 15px;
}

.text {
    padding-left: 10px;
}

.flag {
    height: 12px;
    width: 18px;
    background-image: url("flag-of-the-united-states.png");
    background-size: cover;
}